@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<style>
    body {
        background-image: url('../../content/img/c3.jfif');
        background-size: cover;
    }
</style>

<p>
    We Are Working on Quiz Application project.
    <br />
    We are Total 5 Members
    <br />
    Pallavi, <br />
    Prathmesh, <br />
    Nitesh, <br />
    Sejal, <br />
    Lubna .

</p>