@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Contact Form</title>
    <style>
        body {
            background-image: url('../../content/img/c3.jfif');
            background-size: cover;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <div class="container">
                        <p>
                            <b><i class="fas fa-map-marker-alt"></i>Address</b>  <br />
                            <span> Cdac HYD Shree shialeshwram Highway</span>
                            <br />
                            Hyderabad, India
                        </p>
                        <p>
                            <b>   <i class="fas fa-phone-alt"></i> Let's Talk </b> <br />
                            <span>0123456789</span>
                        </p>
                        <p class="far fa-envelope">
                            <b>     <i>General Support</i></b><br />
                            <strong>Email Id:</strong> <a style="color:white" >cdacquiz@gmail.com</a>
                        </p>
                    </div>
     </div>

    </form>
    </body>
</html>