
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Dashboard</h2>

<style>
    body {
        background-image: url('../../content/img/b8.jfif');
        background-size: cover;
    }
</style>