
@{
    ViewBag.Title = "Records";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h1 style="text-align:center;background-color:orange">Student Score</h1>


<table class="table">
    <tr>
        <th>
            Roll Number
        </th>
        <th>Student Name</th>
        <th>Student EmailId</th>
        <th>Exam Name</th>
        <th>Score</th>


    </tr>

</table>

<a href="ExportPDFScr">Export List</a>

