@model IEnumerable<QuizApp.Models.TBL_SETEXAM>

@{
    ViewBag.Title = "result";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<style>
    body {
        background-image: url('../../content/img/b19.jfif');
        background-size: cover;
    }
</style>
<h1 style="text-align:center;background-color:purple ; color:white">Score Report</h1>


<table class="table">
    <tr>
        <th>
            Exam Date

        </th>
        <th>
            Exam Name

        </th>
        <th>
            Student Name

        </th>
        <th>
            Student Score

        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EXAM_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TBL_CATEGORY.CAT_NAME)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.TBL_STUDENT.S_NAME)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.EXAM_STD_SCORE)
            </td>

        </tr>
    }

</table>